@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

:root {
  font-family: "Ubuntu";
  font-size: 20px;
}

#cont {
  font-family: "Ubuntu Mono";
}

.highlighted {
  background-color: darkblue;
  color: white;
  border: 1px solid darkblue;
}
