@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

:root {
  font-family: "Noto Sans";
  font-size: 20px;
}

body {
  margin: 0;
}

span {
    white-space: pre-wrap;
}

.container {
  background-color: white;
  max-width: 37.5rem;
  margin: 0 auto;
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
}

.container-content {
  padding: 0 1.875rem;
  min-height: 100vh;
}

h1 {
  margin-top: 0;
  padding-top: 1.25rem;
}

p {
  line-height: 1.5;
  margin-bottom: 0;
}


#cont {
  font-family: "Ubuntu Mono";
  color: slategray;
}

.right {
  color: black !important;
}

.highlighted {
  background-color: green;
  color: white;
}

.wrong {
  background-color: darkred;
  color: white;
}

.after-wrong {
  background-color: darkgray;
  color: white;
}

#timer {
  padding: 0.625rem;
  position: sticky;
  float: right;
  top: 0rem;
  background-color: darkgreen;
  color: white;
}
